<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

    </head>
    <body class="px-40 font-mono">
        <div class="mt-10 mb-5 flex items-center justify-between">
            <a href="/" class="text-xl font-bold underline">&#8592 Return To Map</a>
            <h1 class="text-xl text-center font-bold flex-1">Buoy {{.swellreport.StationId}} Report</h1>
            <div class="w-[11rem]"><!-- Spacer to center the title --></div>
        </div>
        {{template "report" .}}
        {{template "forecast" .}}
    </body>
</html>
