{{ define "forecast" }}
<div>
    <style>
        .swell-cell {
            text-align: center; /* Center the content in the swell cells */
            font-size: 16px; /* Larger font size for swell info */
            white-space: nowrap; /* Keep the arrow and text on the same line */
        }
        .swell-data { 
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .swell-arrow {
            display: inline-block;
            transform-origin: 50% 50%;
            font-size: 58px; /* Slightly larger font size for the arrow */
        }
        .hour-cell {
            text-align: center; /* Center the content in the hour cells */
            font-size: 16px; /* Larger font size for the hour */
        }

        .data-table {
            /* I want the table to be narrower */
            width: 80%;
            border-collapse: collapse;
            margin: 0 auto;
        }
        </style>

    <script>
        function displayGraphicalData(data) {
            const dataGroupedByDay = groupDataByDay(data);
            // Clear any existing content
            const dataTable = document.getElementById('data-table');
            dataTable.innerHTML = '';


            Object.entries(dataGroupedByDay).forEach(([date, dayData]) => {
                const dateHeader = document.createElement('h3');
                dateHeader.className = 'date-header';
                // dateHeader.textContent = new Date(date).toLocaleDateString(); // Convert date string to readable format
                // date is in format YYYY-MM-DD
                // convert this to a header that is readable
                dateHeader.textContent = date;

                // convert date to have the day of the week
                const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                dateHeader.textContent = days[new Date(date).getDay()] + ' ' + dateHeader.textContent;
                dataTable.appendChild(dateHeader);

                // Create a table for each day
                const table = document.createElement('table');
                table.style.width = '100%';
                // table.setAttribute('border', '1');

                // Create a header for the table
                const header = table.createTHead();
                const headerRow = header.insertRow();
                const headers = ['Hour', 'Primary Swell', 'Secondary Swell'];
                headers.forEach(headerText => {
                    const headerCell = document.createElement('th');
                    headerCell.textContent = headerText;
                    headerRow.appendChild(headerCell);
                });

                // Create the body of the table
                const tbody = document.createElement('tbody');
                table.appendChild(tbody);

                dayData.forEach(dataItem => {
                    const row = tbody.insertRow();

                    // Hour column
                    const hourCell = row.insertCell();
                    // split the date item and take the second part
                    hourCell.textContent = dataItem.Date.split(' ')[1];
                    // hourCell.textContent = dataItem.date;
                    hourCell.className = 'hour-cell';

                    // Primary swell column
                    const primaryCell = row.insertCell();
                    primaryCell.innerHTML = createSwellHTML(dataItem.PrimaryDegrees, dataItem.PrimaryWaveHeight, dataItem.PrimaryPeriod);
                    primaryCell.className = 'swell-cell';

                    // Secondary swell column
                    const secondaryCell = row.insertCell();
                    secondaryCell.innerHTML = createSwellHTML(dataItem.SecondaryDegrees, dataItem.SecondaryWaveHeight, dataItem.SecondaryPeriod);
                    secondaryCell.className = 'swell-cell';
                });

                // Append the table to the container
                dataTable.appendChild(table);
            });}

        function convertToDate(data, date) {
            // date is in form YYYYMMDD
            // we want to get the hour from the first element of data
            // create a new object dateObj
            // for every next element in data, we add an hour to the datetime
            hour = parseInt(data[0].Date.split(' ')[1]);
            firstdate = new Date(date.slice(0, 4), date.slice(4, 6), date.slice(6, 8), hour);
            // console.log(`${date.slice(0,4)}-${date.slice(4,6)}-${date.slice(6,8)}T${hour}:00:00Z`);
            // firstdate = new Date(`${date.slice(0,4)}-${date.slice(4,6)}-${date.slice(6,8)}T${hour}:00:00:00.000+00:00`);
            for (i = 0; i < data.length; i++) {
                // this date needs to be in UTC!!
                data[i].dateObj = new Date(firstdate);
                data[i].dateObj.setHours(data[i].dateObj.getHours() + i);
            }
            return data;
        }

        function groupDataByDay(data) {
            // Group data by day
            const groupedData = {};
            data.forEach(item => {
                item.dateObj.setHours(item.dateObj.getHours() - 7); // subtract 8 hours to get to UTC
                const dateKey = item.dateObj.toISOString().split('T')[0]; // YYYY-MM-DD
                if (!groupedData[dateKey]) {
                    groupedData[dateKey] = [];
                }
                groupedData[dateKey].push(item);
            });
            return groupedData;
        }

        function createSwellHTML(direction, height, period) {
            const arrowHTML = `<span class="swell-arrow" style="transform: rotate(${direction - 180}deg); margin-right: 50px;">&#8595;</span>`;

            // Swell height and period information
            const swellInfoHTML = `<span>${height}ft at ${period}s</span>`;

            // Combine the arrow with the swell info
            return `<div class=swell-data>${arrowHTML} ${swellInfoHTML}</div>`;
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            const data = convertToDate({{.forecast}}, {{.date}});
            displayGraphicalData(data);
        });

        </script>

    <h2 >Forecast</h2>
    <div id="data-table" class="data-table"></div>

<div>
{{end}}
