{{ define "forecast" }}
<div>
    <script>
        function displayClicked(date) { 
            const dayData = dataGroupedByDay[date];
            currentDay = dayData;

            const dataTable = document.getElementById('forecast-table');
            dataTable.innerHTML = '';

           // const dateHeader = document.createElement('h3');
           // dateHeader.className = 'date-header';
           // dateHeader.className = 'text-2x1 text-lg font-bold mb-4';

            // change date by getting the div instead
            const dateHeader = document.getElementById('date-header');

            const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

            let tempdate = new Date(date);
            const datefull = date.split('T')[0];

            dateHeader.textContent = days[tempdate.getDay()] + ' ' + datefull

            let abbreviatedDate = datefull.slice(5, 10);
            abbreviatedDate = abbreviatedDate.replace(/^0+/, '').replace('-', '/');

            // Create a table for each day
            const table = document.createElement('table');
            table.style.width = '100%';
            table.className = 'w-full text-sm text-left';

            // table.setAttribute('border', '1');

            // Create a header for the table
            const header = table.createTHead();
            const headerRow = header.insertRow();
            headerRow.className = 'text-xs uppercase';
            const headers = ['Hour', 'Primary Swell', 'Secondary Swell'];
            headers.forEach(headerText => {
                const headerCell = document.createElement('th');
                headerCell.textContent = headerText;
                headerCell.className = 'py-3 px-6';
                headerRow.appendChild(headerCell);
            });

            // Create the body of the table
            const tbody = document.createElement('tbody');
            table.appendChild(tbody);

            dayData.forEach(dataItem => {
                const row = tbody.insertRow();
                row.className = 'border-b';


                // Hour column
                const hourCell = row.insertCell();
                // split the date item and take the second part
                hourCell.textContent = dataItem.hour;
                // hourCell.textContent = dataItem.date;
                hourCell.className = 'py-2 px-6';

                // Primary swell column
                const primaryCell = row.insertCell();
                primaryCell.innerHTML = createSwellHTML(dataItem.PrimaryDegrees, dataItem.PrimaryWaveHeight, dataItem.PrimaryPeriod);
                primaryCell.className = 'py-2 px-6';

                // Secondary swell column
                const secondaryCell = row.insertCell();
                secondaryCell.innerHTML = createSwellHTML(dataItem.SecondaryDegrees, dataItem.SecondaryWaveHeight, dataItem.SecondaryPeriod);
                secondaryCell.className = 'py-2 px-6';

                // Tertiary swell column
                const tertiaryCell = row.insertCell();
                if (dataItem.TertiaryWaveHeight === '') {
                    tertiaryCell.innerHTML = '';
                } else {
                    tertiaryCell.innerHTML = createSwellHTML(dataItem.TertiaryDegrees, dataItem.TertiaryWaveHeight, dataItem.TertiaryPeriod);
                    tertiaryCell.className = 'py-2 px-6';
                }

                // Quaternary swell column
                const quaternaryCell = row.insertCell();
                if (dataItem.QuaternaryWaveHeight === '') {
                    quaternaryCell.innerHTML = '';
                } else {
                    quaternaryCell.innerHTML = createSwellHTML(dataItem.QuaternaryDegrees, dataItem.QuaternaryWaveHeight, dataItem.QuaternaryPeriod);
                    quaternaryCell.className = 'py-2 px-6';
                }

                // Append the table to the container
                dataTable.appendChild(table);
        }
        )}

        function createSwellHTML(direction, height, period) {
            const arrowHTML = `<span class="swell-arrow text-3xl" style="transform: rotate(${direction - 180}deg); margin-right: 50px;">&#8595;</span>`;

            // Swell height and period information
            const swellInfoHTML = `<span>${height}ft at ${period}s</span>`;

            // Combine the arrow with the swell info
            return `<div class="flex flex-center items-center">${arrowHTML} ${swellInfoHTML}</div>`;
        }

        function convertToDate(data, date) {
            hour = parseInt(data[0].Date.split(' ')[1]);
            firstdate = new Date(date.slice(0, 4), date.slice(4, 6) - 1, date.slice(6, 8), hour); // this sets the time as UTC time, but listed as local time
            firstdate.setHours(firstdate.getHours() - firstdate.getTimezoneOffset() / 60); // this converts the time VALUE to match the time zone
            for (i = 0; i < data.length; i++) {
                // this date needs to be in UTC!!
                data[i].dateObj = new Date(firstdate);
                data[i].dateObj.setHours(data[i].dateObj.getHours() + i);
                data[i].hour = data[i].dateObj.getHours();
            }
            return data;
        }

        function groupDataByDay(data) {
            // order by date first
            // log first date
            data.sort((a, b) => a.dateObj - b.dateObj);
            const groupedData = {};
            data.forEach(item => {
                const dateKey = item.dateObj.toLocaleDateString();
                if (!groupedData[dateKey]) {
                    groupedData[dateKey] = [];
                }
                groupedData[dateKey].push(item);
            });
            return groupedData;
        }

        function buildSummary(data) { 
            const summary = [];

            Object.entries(data).forEach(([date, item]) => {
                // get the day of the week
                let tempdate = new Date(date);
                // tempdate.setHours(tempdate.getHours() - tempdate.getTimezoneOffset() / 60);
                const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                const dayOfWeek = days[tempdate.getDay()];


                const datefull = date.split('T')[0];
                let abbreviatedDate = datefull.slice(0, 4);
                abbreviatedDate = abbreviatedDate.replace(/^0+/, '').replace('-', '/');


                // keep track of total primary swell
                let totalPrimarySwell = 0;
                item.forEach((item) => {
                    totalPrimarySwell += parseFloat(item.PrimaryWaveHeight);
                });
                const primarySwellAverage = totalPrimarySwell / item.length;

                // get the condition
                let condition = 'good';
                if (primarySwellAverage < 0.5) {
                    condition = 'poor';
                } else if (primarySwellAverage < 1.5) {
                    condition = 'fair';
                }

                summary.push({
                    date: date,
                    dateabv: `${dayOfWeek} ${abbreviatedDate}`,
                    condition: condition
                });
            });

            return summary;
        } 


        let currentDay = []; 
        let swellChart = null;
        let data = convertToDate({{.forecast}}, {{.date}});
        let dataGroupedByDay = groupDataByDay(data);
        let forecastsummary = buildSummary(dataGroupedByDay);


        // this dom listener adds the forecast cards
        document.addEventListener('DOMContentLoaded', () => {
            currentDay = dataGroupedByDay[Object.keys(dataGroupedByDay)[0]];


            const forecastContainer = document.getElementById('forecastContainer');

            forecastsummary.forEach(forecast => {
                const card = document.createElement('div');
                card.className = 'forecastcard  bg-white rounded-lg shadow border border-1 p-4 flex flex-col items-center cursor-pointer hover:bg-gray-100'; // TailwindCSS classes for styling

                card.setAttribute('data-date', forecast.date); // Store the date in a data attribute

                const dayOfWeek = document.createElement('div');
                dayOfWeek.className = 'font-medium';
                dayOfWeek.textContent = forecast.dateabv.split(' ')[0]; // Get the day abbreviation

                const dateEl = document.createElement('div');
                dateEl.className = 'text-sm';
                dateEl.textContent = forecast.dateabv.split(' ')[1]; // Get the date abbreviation

                const conditionEl = document.createElement('div');
                conditionEl.textContent = forecast.condition;
                conditionEl.className = `font-bold ${forecast.condition.toLowerCase() === 'good' ? 'text-green-500' : forecast.condition.toLowerCase() === 'fair' ? 'text-orange-500' : 'text-red-500'}`;

                card.appendChild(dayOfWeek);
                card.appendChild(dateEl);
                card.appendChild(conditionEl);

                forecastContainer.appendChild(card);
            });
            displayClicked(Object.keys(dataGroupedByDay)[0]);
            
        });


        // this dom listener adds the visualization and forecast chart
        document.addEventListener('DOMContentLoaded', () => {
            // const data = convertToDate({{.forecast}}, {{.date}});
            // const dataGroupedByDay = groupDataByDay(data);
            const cards = document.querySelectorAll('.forecastcard');
            cards.forEach(card => {
                card.addEventListener('click', function() {
                    this.classList.toggle('font-bold'); // This toggles the bold class on click
                    this.classList.toggle('bg-gray-100'); // This toggles the border-3 class on click
                    cards.forEach(otherCard => {
                        if (otherCard !== this) {
                            otherCard.classList.remove('font-bold', 'bg-gray-100');
                        }
                    });
                    displayClicked(this.getAttribute('data-date')); // Call the displayClicked function
                    updateChart(currentDay, svg);
                });
            });

            firstcard = cards[0];
            firstcard.classList.toggle('font-bold');
            firstcard.classList.toggle('bg-gray-100');

            
            // Dimensions and margins of the graph
            const margin = {top: 20, right: 30, bottom: 30, left: 50},
                // width should be max width
                //width = 860 - margin.left - margin.right,
                // set the width to 100% of the parent container
                width = document.getElementById('chart-container').offsetWidth - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            // Append the svg object to the body of the page
            const svg = d3.select("#chart")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);

            // Initialize scales
            // x should always be the hour, 0 to 23
            const x = d3.scaleLinear()
                .domain([0, 23])
                .range([ 0, width ]);
            svg.append("g")
                .attr("transform", `translate(0,${height})`)
                .call(d3.axisBottom(x));

            // y should not start at 0, but  just below the minimum swell height
            var y = d3.scaleLinear()
                .domain([0, d3.max(currentDay, d => Math.max(d.PrimaryWaveHeight, d.SecondaryWaveHeight))])
                .range([ height, 0 ]);

            var yScale = d3.scaleLinear()
                .domain([0, d3.max(currentDay, d => Math.max(d.PrimaryWaveHeight, d.SecondaryWaveHeight))])
                .range([ height, 0 ]);

            var yAxis = d3.axisLeft(yScale);

            svg.append("g")
                .attr("class", "yaxis")
                .call(yAxis);

            function updateChart(data, svg) { 
                rescale();
                y.domain([0, d3.max(data, d => Math.max(d.PrimaryWaveHeight, d.SecondaryWaveHeight))]);

                // Line generator for primary swell height
                const linePrimary = d3.line()
                    .x(d => x(d.hour))
                    .y(d => y(d.PrimaryWaveHeight));

                // Line generator for secondary swell height
                const lineSecondary = d3.line()
                    .x(d => x(d.hour))
                    .y(d => y(d.SecondaryWaveHeight));

                //Draw tertiary swell line
                const lineTertiary = d3.line()
                    .x(d => x(d.hour))
                    .y(d => y(d.TertiaryWaveHeight));

                const lineQuaternary = d3.line()
                    .x(d => x(d.hour))
                    .y(d => y(d.QuaternaryWaveHeight));

                // Draw or update primary swell line
                svg.selectAll(".linePrimary").data([data], d => d.hour)
                    .join("path")
                    .attr("class", "linePrimary")
                    .attr("d", linePrimary)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue");

                // Draw or update secondary swell line
                svg.selectAll(".lineSecondary").data([data], d => d.hour)
                    .join("path")
                    .attr("class", "lineSecondary")
                    .attr("d", lineSecondary)
                    .attr("fill", "none")
                    .attr("stroke", "orange");

                svg.selectAll(".lineTertiary").data([data], d => d.hour)
                    .join("path")
                    .attr("class", "lineTertiary")
                    .attr("d", lineTertiary)
                    .attr("fill", "none")
                    .attr("stroke", "green");

                svg.selectAll(".lineQuaternary").data([data], d => d.hour)
                    .join("path")
                    .attr("class", "lineQuaternary")
                    .attr("d", lineQuaternary)
                    .attr("fill", "none")
                    .attr("stroke", "purple");

                // Add arrows for primary swell points
                svg.selectAll(".primaryPoint").data(data)
                    .join("path")
                    .attr("class", "primaryPoint")
                    .attr("transform", d => `translate(${x(d.hour)},${y(d.PrimaryWaveHeight)}) rotate(${d.PrimaryDegrees - 135}) skewY(25)`)
                    .attr("d", d3.symbol().type(d3.symbolTriangle).size(50))
                    .attr("fill", "steelblue");

                // Add arrows for secondary swell points, with different rotation
                svg.selectAll(".secondaryPoint").data(data)
                    .join("path")
                    .attr("class", "secondaryPoint")
                    .attr("transform", d => `translate(${x(d.hour)},${y(d.SecondaryWaveHeight)}) rotate(${d.SecondaryDegrees - 135}) skewY(25)`)
                    .attr("d", d3.symbol().type(d3.symbolTriangle).size(50))
                    .attr("stroke", "orange")
                    .attr("fill", "orange");

                // if all the tertiary data is 0, don't draw the line
                svg.selectAll(".tertiaryPoint").data(data)
                    .join("path")
                    .attr("class", "tertiaryPoint")
                    .attr("transform", d => `translate(${x(d.hour)},${y(d.TertiaryWaveHeight)}) rotate(${d.TertiaryDegrees - 135}) skewY(25)`)
                    .attr("d", d3.symbol().type(d3.symbolTriangle).size(50))
                    .attr("stroke", "green")
                    .attr("fill", "green");

                // if every tertiary point is empty, don't draw the line
                if (data.every(d => d.TertiaryWaveHeight === 0)) {
                    svg.selectAll(".lineTertiary").remove();
                }

                // add arrows for quaternary swell points, with different rotation
                svg.selectAll(".quaternaryPoint").data(data)
                    .join("path")
                    .attr("class", "quaternaryPoint")
                    .attr("transform", d => `translate(${x(d.hour)},${y(d.QuaternaryWaveHeight)}) rotate(${d.QuaternaryDegrees - 135}) skewY(25)`)
                    .attr("d", d3.symbol().type(d3.symbolTriangle).size(50))
                    .attr("stroke", "purple")
                    .attr("fill", "purple");

                const tooltip = d3.select("#tooltip");

                // Mouse move handler to update tooltip content and position
                svg.on("mousemove", (event) => {
                    // show a popup anywhere on hover, not just over the line

                    const mousePos = d3.pointer(event);
                    const mouseX = mousePos[0];
                    const hoverDate = x.invert(mouseX);
                    const closestData = data.reduce((prev, curr) => (Math.abs(curr.hour - hoverDate) < Math.abs(prev.hour - hoverDate) ? curr : prev));



                    tooltip.style("visibility", "visible")
                        .style("top", (event.pageY + 15) + "px")
                        .style("left", (event.pageX + 15) + "px")
                        .html(`Hour: ${closestData.hour}<br>${closestData.PrimaryWaveHeight}m at ${closestData.PrimaryPeriod}s
                            <br>${closestData.SecondaryWaveHeight}m at ${closestData.SecondaryPeriod}s
                            <br>${closestData.TertiaryWaveHeight}m at ${closestData.TertiaryPeriod}s
                            <br>${closestData.QuaternaryWaveHeight}m at ${closestData.QuaternaryPeriod}s`);
                });

                // Mouse leave handler to hide tooltip
                svg.on("mouseleave", () => {
                    tooltip.style("visibility", "hidden");
                });
            }

            function rescale() {
                yScale.domain([0, d3.max(currentDay, d => Math.max(d.PrimaryWaveHeight, d.SecondaryWaveHeight))])  // change scale to 0, to between 10 and 100
                svg.select(".yaxis")
                        .transition().duration(200)  // https://github.com/mbostock/d3/wiki/Transitions#wiki-d3_ease
                        .call(yAxis);  

                svg.select(".yaxis_label")
                    .text("Rescaled Axis");
            }

            updateChart(currentDay, svg);

        });


    </script>


    <h2 class="text-2x1 text-lg font-bold mt-8">16 Day Forecast</h2>
    <div class = "container mx-auto ">
        <div class="flex overflow-x-auto py-4 space-x-4" id="forecastContainer"> </div>
    </div>
    <div id="date-header" class= 'text-2x1 text-lg font-bold my-4'> </div>

    <div id="chart-container" class="flex justify-center">
        <div id="chart">
    </div>

    </div>
    <div id="tooltip" style="position: absolute; visibility: hidden; padding: 10px; background: white; border: 1px solid #000; border-radius: 5px; pointer-events: none;"></div>
    <div id="forecast-table" class="mt-8"></div>



</div>
{{end}}
