{{define "report"}}
<div>
    <style>


    </style>
    <h2>Report</h2>
    <div class="container flex flex-row px-15 justify-evenly">
        <div class="card bg-white shadow-lg rounded-lg overflow-hidden border-slate-100 w-60">
            <h2 class="text-lg font-semibold text-gray-800 p-4">Primary Swell</h2>
            <div class="content p-4">
                <div class="direction flex items-center space-x-2">
                    <div class="swellsymbol">&#8595;</div>
                    <p class="mwd">{{.swellreport.PrimaryDegrees}}º</p>
                </div>
                <div class="details">
                    <p class= "swhswp text-sm" >{{.swellreport.PrimaryWaveHeight}}ft at {{.swellreport.PrimaryPeriod}}s</p>
                    <p class="steep text-sm">{{.swellreport.Steepness}}</p>
                </div>
            </div>
        </div>
        <div class="card bg-white shadow-lg rounded-lg overflow-hidden w-60">
            <h2 class="text-lg font-semibold text-gray-800 p-4">Secondary Swell</h2>
            <div class="content p-4">
                <div class="direction">
                    <div class="windswellsymbol">&#8595;</div>
                    <p class="wwd text-sm">{{.swellreport.SecondaryDegrees}}º</p>
                </div>
                <div class="details mt-4 spacee y-1">
                    <p class="wwhwwp text-sm">{{.swellreport.SecondaryWaveHeight}}ft at {{.swellreport.SecondaryPeriod}}s</p>
                </div>
            </div>
        </div>
        <div class="card bg-white shadow-lg rounded-lg overflow-hidden w-60">
            <h2 class="text-lg font-semibold text-gray-800 p-4">Wind</h2>
            <div class="content p-4">
                <div class="direction">
                    <div class="windsymbol text-2x1">&#8595;</div>
                    <p class="wddir">E</p>
                </div>
                <div class="details mt-4 space y-1">
                    <p class="wdspd text-sm">wind speed: {{.windreport.WindSpeed}}mph</p>
                    <p class="gust text-sm">wind gust: {{.windreport.WindGust}}mph</p>
                    <p class="airtemp text-sm">air temp: {{.windreport.AirTemp}}ºF</p>
                    <p class="temp text-sm">water temp: {{.windreport.WaterTemp}}ºF</p>
                </div>
            </div>
        </div>


</div>
{{end}}
