{{define "report"}}
<div>
    <script> 
        let directionmap = {
            'N': 0,
            'NNE': 22.5,
            'NE': 45,
            'ENE': 67.5,
            'E': 90,
            'ESE': 112.5,
            'SE': 135,
            'SSE': 157.5,   
            'S': 180,
            'SSW': 202.5,
            'SW': 225,
            'WSW': 247.5,
            'W': 270,
            'WNW': 292.5,
            'NW': 315,
            'NNW': 337.5
        };

        // after the dom has loaded
        document.addEventListener('DOMContentLoaded', () => {
            let secondaryswell = {{.swellreport.SecondaryDegrees}};
            let swelldir = document.querySelector('.windswellsymbol');
            swelldir.style.transform = `rotate(${directionmap[secondaryswell]}deg)`;
        });

    </script> 
    <style> 
        body.dark .card {
            background-color: #1a1a1a;
            color: #ffffff;
            border-color: #555;
        }

        body.dark h2 {
            background-color: #1a1a1a;
            color: #ffffff;
            border-color: #555;
        }


    </style>
    <h2 class="text-5x1 text-lg font-bold mb-4">Report</h2>

    <!-- <div class="report flex justify-center"> -->
    <div class="container grid grid-cols-4 gap-4 mx-auto max-w-7xl">
        <div class="card bg-white shadow-sm overflow-hidden border border-gray-300 p-4">
            <h2 class="text-lg  text-gray-800 mb-2">Primary Swell</h2>
            <div class="content flex flex-row justify-evenly">
                <div class="direction flex flex-col items-center space-x-2">
                    <div class="swellsymbol text-6xl" style="transform: rotate({{.swellreport.PrimaryDegrees}}deg);">&#8595;</div>
                    <p class="mwd text-center">{{.swellreport.PrimaryDegrees}}º</p>
                </div>
                <div class="details text-base grid content-center">
                    <p class="swhswp text-center">{{.swellreport.PrimaryWaveHeight}}ft at {{.swellreport.PrimaryPeriod}}s</p>
                    <p class="steep text-center">{{.swellreport.Steepness}}</p>
                </div>
            </div>
        </div>

        <div class="card bg-white shadow-sm overflow-hidden border border-gray-300 p-4">
            <h2 class="text-lg  text-gray-800 mb-2">Secondary Swell</h2>
            <div class="content flex flex-row justify-evenly">
                <div class="direction flex flex-col items-center space-x-2">
                    <div class="windswellsymbol text-6xl">&#8595;</div>
                    <p class="wwd text-center">{{.swellreport.SecondaryDegrees}}</p>
                </div>
                <div class="details space text-base grid content-center">
                    <p class="wwhwwp text-center">{{.swellreport.SecondaryWaveHeight}}ft at {{.swellreport.SecondaryPeriod}}s</p>
                </div>
            </div>
        </div>

        <div class="card bg-white shadow-sm overflow-hidden border border-gray-300 p-4">
            <h2 class="text-lg  text-gray-800 mb-2">Wind</h2>
            <div class="content flex flex-row justify-evenly">
                <div class="direction flex flex-col items-center space-x-2">
                    <div class="windsymbol text-6xl" style="transform: rotate({{.windreport.WindDir}}deg);">&#8595;</div>
                    <p class="wddir text-center">{{.windreport.WindDir}}º</p>
                </div>
                <div class="details space text-base grid content-center">
                    <p class="wdspd text-center">speed: {{.windreport.WindSpeed}}mph</p>
                    <p class="gust text-center">gusts: {{.windreport.WindGust}}mph</p>
                </div>
            </div>
        </div>

        <div class="card bg-white shadow-sm overflow-hidden border border-gray-300 p-4">
            <h2 class="text-lg  text-gray-800 mb-2">Weather</h2>
            <div class="content">
                <p class="airtemp text-center">air temp: {{.windreport.AirTemp}}ºF</p>
                <p class="temp text-center">water temp: {{.windreport.WaterTemp}}ºF</p>
            </div>
        </div>
    </div>
    <!-- </div> -->


</div>
{{end}}
